<ion-header>
  <ion-navbar>
    <ion-title>
      Shapes
    </ion-title>
     <ion-buttons end>
      <ion-icon  name="volume-up" (click) = "playAudio()"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page">
  <ion-card (swipe) = "swipe($event)">
   <ion-grid>
    <ion-row align-items-center>
    <ion-col col-12 col-sm >
      <img  src="assets/imgs/{{shapes[counter]}}.png" class="circle">
    </ion-col>
    <ion-col col-12 col-sm> <div class="number-word">{{word}}</div></ion-col>
  </ion-row>
  </ion-grid>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-grid>
  <ion-row align-items-stretch>
    <ion-col col-auto>
      <ion-icon  *ngIf="!playing && !counter" name="fastforward" (click) = "goToLast()"></ion-icon>
      <ion-icon  *ngIf="counter && !playing"  isActive="counter > 0" name="skip-backward" (click) = "decrement()"></ion-icon>
    </ion-col>
     <ion-col>
      <ion-icon *ngIf="!playing"  name="play" (click) = "play()"></ion-icon>
      <ion-icon *ngIf="playing" name="pause" (click) = "pause()"></ion-icon>
    </ion-col>
      <ion-col col-auto>
      <ion-icon  *ngIf="!playing && counter < length-1" name="skip-forward" (click) = "increment()"></ion-icon>
      <ion-icon *ngIf="counter  === length-1" name="rewind"  (click) = "reset()"></ion-icon>
    </ion-col>
  </ion-row>
   </ion-grid>
</ion-footer>
